/Backend/node_modules
/Backend/dist

/frontend/node_modules
/node_modules
.gitignore
node_modules/readable-stream/lib/internal/streams/state.js
node_modules/readable-stream/lib/internal/streams/pipeline.js
node_modules/readable-stream/lib/internal/streams/from.js
node_modules/readable-stream/lib/internal/streams/from-browser.js
node_modules/readable-stream/lib/internal/streams/end-of-stream.js
node_modules/readable-stream/lib/internal/streams/buffer_list.js
node_modules/readable-stream/lib/internal/streams/async_iterator.js
node_modules/readable-stream/experimentalWarning.js
node_modules/readable-stream/errors.js
node_modules/readable-stream/errors-browser.js
node_modules/postcss/lib/postcss.d.mts
node_modules/postcss/lib/postcss.d.mts
node_modules/readable-stream/errors-browser.js
node_modules/readable-stream/errors.js
node_modules/readable-stream/experimentalWarning.js
node_modules/readable-stream/lib/internal/streams/async_iterator.js
node_modules/readable-stream/lib/internal/streams/buffer_list.js
node_modules/readable-stream/lib/internal/streams/end-of-stream.js
node_modules/readable-stream/lib/internal/streams/from-browser.js
node_modules/readable-stream/lib/internal/streams/from.js
node_modules/readable-stream/lib/internal/streams/pipeline.js
node_modules/readable-stream/lib/internal/streams/state.js
node_modules/postcss/lib/postcss.d.mts
node_modules/readable-stream/errors-browser.js
node_modules/readable-stream/errors.js
node_modules/readable-stream/experimentalWarning.js
node_modules/readable-stream/lib/internal/streams/async_iterator.js
node_modules/readable-stream/lib/internal/streams/buffer_list.js
node_modules/readable-stream/lib/internal/streams/end-of-stream.js
node_modules/readable-stream/lib/internal/streams/from-browser.js
node_modules/readable-stream/lib/internal/streams/from.js
node_modules/readable-stream/lib/internal/streams/pipeline.js
node_modules/readable-stream/lib/internal/streams/state.js
